/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


*
{
    margin:0;
    padding:0;
}

body
{
    font-family: 'Poppins', sans-serif;

}

.small-container
{
	width:1133px;
	margin:0 auto;
}

.big-container
{
	width:100%;
	margin:0 auto;
}